body {
  padding-top: 30px;
}

.bg-lightgolden {
  background-color: lightgoldenrodyellow;
}

.bg-lightsalmon {
  background-color: lightsalmon;
}

.bg-yellow {
  background-color: yellow;
}

.hr-50 {
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
}

.hr-30 {
  width: 30%;
  margin: auto;
  margin-bottom: 25px;
}

.border-10 {
  border-style: solid;
  border-width: 10px;
}